/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garantir altura total */
html, body, #root {
  height: 100%;
}

/* Remove interferências do template */
body {
  margin: 0;
  background-color: #f8f9fa; /* padrão bootstrap */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* NÃO limitar o root */
#root {
  width: 100%;
}
